.layout{

    display:flex;

    width:100vw;

    height:100vh;

    overflow:hidden;

}



.main{

    flex:1;

    display:flex;

    flex-direction:column;

    height:100vh;

    min-width:0;

    background:#f5f7fb;

}



.content{

    flex:1;

    overflow-y:auto;

    min-height:0;

    padding:30px;

}